<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Todo App</title>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body>
<div style="margin-top:150px" class="container">
    <h3>Employee List</h3>
    <table class="table">
        <tr>
            <td>
                {% csrf_token %}
                <div class="form-group">
                    <label for="nameInput">Employee Name</label>
                    <input type="text" name="name" class="form-control" id="input_name"
                           aria-describedby="nameHelp" placeholder="Enter Employee Name...">
                </div>
                <button type="button" class="btn btn-danger add">Add</button>
            </td>
        </tr>
    </table>

    <div class="alert alert-danger" id="json" style="background-color:white; color:darkgreen; margin-left:0;">
        <h2>Json data will be here ...</h2>
    </div>
    {% if employees %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <th scope="row">{{ employee.id }}</th>
                    <td>{{ employee.name }}</td>
                    {% if employee.status %}
                        <td>Working</td>
                    {% else %}
                        <td>Not Working</td>
                    {% endif %}
                    <td>
                        <button data-id="{{ employee.id }}" type="button" class="btn btn-danger get_by_id">Get Json Data
                        </button>
                    </td>
                    <td>
                        <button data-id="{{ employee.id }}" type="button" class="btn btn-danger update">Update
                        </button>
                    </td>
                    <td>
                        <button data-id="{{ employee.id }}" type="button" class="btn btn-danger delete">Delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">There is no employee!</div>
    {% endif %}
</div>

<script>
    $('.add').click(function () {
        $.ajax({
            type: 'POST',
            url: 'createEmployee/',
            data: {name: document.querySelector('#input_name').value},
            success: function (data) {
                location.reload();
            },
            error: function (data, error) {
                alert("Error in response: " + JSON.stringify(data));
            }
        });
    })
    $('.update').click(function () {
        $.ajax({
            type: 'POST',
            url: 'updateEmployee/',
            data: {id: $(this).data("id")},
            success: function (data) {
                location.reload();
            },
            error: function (data, error) {
                alert("Error in response: " + JSON.stringify(data));
            }
        });
    })
    $('.delete').click(function () {
        $.ajax({
            type: 'POST',
            url: 'deleteEmployee/',
            data: {id: $(this).data("id")},
            success: function (data) {
                location.reload();
            },
            error: function (data, error) {
                alert("Error in response: " + JSON.stringify(data));
            }
        });
    })
    $('.get_by_id').click(function () {
        $.ajax({
            type: 'POST',
            url: 'getEmployeeById/',
            data: {id: $(this).data("id")},
            dataType: 'json',
            success: function (data) {
                {#console.log(data.result[0].id)#}
                {#$("#json").html(data.result[0].id);#}
                {#document.getElementById("json").textContent = JSON.stringify(data.result[0], undefined, 2);#}
                document.querySelector('#json').innerHTML = JSON.stringify(data.result[0], null, 6)
                    .replace(/\n( *)/g, function (match, p1) {
                        return '<br>' + '&nbsp;'.repeat(p1.length);
                    });
            },
            error: function (data, error) {
                alert("Error in response: " + JSON.stringify(data));
            }
        });
    })
</script>
</body>
</html>